In [79]:
import pandas as pd # used for DataFrames

In [80]:
# Function to organize .xyz file data into python list with correct data types of features
# Lists will be used as input data in Pandas DataFrame
def xyz_to_list(xyz_file):
    data_list = []
    for row in xyz_file:
        # splits rows of .xyz data to list of strings
        row_array = row.split()
        # changes string values in list to correct data type
        for i in range(len(row_array)):
            if row_array[i].find(".") != -1:
                row_array[i] = float(row_array[i])
            elif row_array[i].isdigit() or row_array[i][1:].isdigit():
                row_array[i] = int(row_array[i])
        # adds list of row data to the main list
        data_list.append(row_array)
    # returns organized list of data
    return data_list

In [81]:
# Magnetic .xyz file to python list
clovis_mag = "CLOVIS/clovis_mag.xyz" # magnetic data file path
xyz_mag = open(clovis_mag, "r") # create xyz file object
mag_list = xyz_to_list(xyz_mag) # magnetic data formatted in python list

print(mag_list[0])

[16, 211, 115600, 103, 1976, 34.696, -101.9878, 139.9, 53303.7, -176.9, -9999.9, 'TO', 107.0]

In [82]:
# DataFrame for magnetic data
mag_DataFrame = pd.DataFrame(mag_list, columns=["line", "fid", "time", "day", "year", "latitude", 
                                    "longitude", "radalt", "totmag", "resmag", "diurnal", "geology", "resmagCM4"])

# Attribute forces all columns of data to be printed in the DataFrame
pd.set_option('display.max_columns', None)

# First 10 rows of mag data
mag_DataFrame.head(10)

,line,fid,time,day,year,latitude,longitude,radalt,totmag,resmag,diurnal,geology,resmagCM4
0,16,211,115600,103,1976,34.6960,-101.9878,139.9,53303.7,-176.9,-9999.9,TO,107.0
1,16,212,115600,103,1976,34.6960,-101.9878,139.9,53303.7,-176.9,-9999.9,TO,107.0
2,16,213,115600,103,1976,34.6968,-101.9883,137.8,53304.4,-176.8,-9999.9,TO,107.2
3,16,214,115600,103,1976,34.6974,-101.9888,136.2,53306.5,-175.0,-9999.9,TO,109.0
4,16,215,115600,103,1976,34.6981,-101.9893,135.3,53304.8,-177.1,-9999.9,TO,106.8
5,16,216,115600,103,1976,34.6987,-101.9898,135.0,53305.2,-177.0,-9999.9,TO,107.0
6,16,217,115600,103,1976,34.6992,-101.9903,134.4,53306.6,-175.9,-9999.9,TO,108.1
7,16,218,115600,103,1976,34.6997,-101.9908,136.9,53304.8,-177.8,-9999.9,TO,106.2
8,16,219,115600,103,1976,34.7004,-101.9913,138.7,53306.7,-176.2,-9999.9,TO,107.7
9,16,220,115600,103,1976,34.7012,-101.9918,138.7,53306.1,-177.3,-9999.9,TO,106.8

In [83]:
# Radiometric xyz file to python lists
clovis_rad = "CLOVIS/clovis_rad.xyz" # radiometric data file path
xyz_rad = open(clovis_rad, "r") # create xyz file object
rad_list = xyz_to_list(xyz_rad) # radiometric data formatted in python list

print(rad_list[0])

[1, 1, 171900, 102, 1976, 34.0081, -104.0169, 141.1, -266.0, -99, -9999, 140.0, 9.0, 27.0, -999.9, -999.9, -999.9, 3614.0, 601.0, 20.8, 651.3]

In [84]:
# DataFrame for radiometric data
rad_DataFrame = pd.DataFrame(rad_list, columns = ["line", "fid", "time", "day", "year", "latitude", "longitude", "radalt", "resmag", "geology", "qual", 
                            "app_K", "app_U", "app_Th", "U_Th_ratio", "U_K_ratio", "Th_K_ratio", "total_count", "atmos_BI214", "air_temp", "air_press"])


rad_DataFrame.head(10)

,line,fid,time,day,year,latitude,longitude,radalt,resmag,geology,qual,app_K,app_U,app_Th,U_Th_ratio,U_K_ratio,Th_K_ratio,total_count,atmos_BI214,air_temp,air_press
0,1,1,171900,102,1976,34.0081,-104.0169,141.1,-266.0,-99,-9999,140.0,9.0,27.0,-999.9,-999.9,-999.9,3614.0,601.0,20.8,651.3
1,1,2,171900,102,1976,34.0081,-104.0169,141.1,-266.0,-99,-9999,140.0,9.0,27.0,-999.9,-999.9,-999.9,3614.0,601.0,20.8,651.3
2,1,3,171900,102,1976,34.0081,-104.0169,141.1,-266.0,-99,-9999,140.0,9.0,27.0,-999.9,-999.9,-999.9,3614.0,601.0,20.8,651.3
3,1,4,171900,102,1976,34.0084,-104.0164,136.6,-266.0,-99,-9999,157.0,29.0,10.0,-999.9,-999.9,-999.9,3660.0,597.0,20.8,654.1
4,1,5,171900,102,1976,34.0088,-104.0158,132.6,-266.0,-99,-9999,97.0,54.0,30.0,-999.9,-999.9,-999.9,3584.0,593.0,20.5,651.3
5,1,6,171900,102,1976,34.0090,-104.0153,129.2,-266.0,-99,-9999,112.0,66.0,36.0,-999.9,-999.9,-999.9,3657.0,589.0,20.8,656.3
6,1,7,171900,102,1976,34.0096,-104.0147,126.8,-265.0,-99,-9999,153.0,3.0,31.0,-999.9,-999.9,-999.9,3618.0,587.0,20.2,654.1
7,1,8,171900,102,1976,34.0100,-104.0142,124.1,-266.0,-99,-9999,115.0,71.0,26.0,-999.9,-999.9,-999.9,3535.0,584.0,20.8,648.7
8,1,9,171900,102,1976,34.0102,-104.0136,123.4,-264.0,-99,-9999,135.0,82.0,16.0,-999.9,-999.9,-999.9,3594.0,583.0,20.5,650.0
9,1,10,171900,102,1976,34.0104,-104.0131,122.5,-265.0,-99,-9999,160.0,66.0,10.0,-999.9,-999.9,-999.9,3683.0,582.0,20.8,651.3